spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    format-sql: true
    properties:
      hibernate:
        format_sql: true

  logging:
    level:
      org:
        hibernate:
          SQL: DEBUG
          type:
            descriptor:
              sql: TRACE

app:
  security:
    jwt-secret: hnvuioehf9p8zPOIFHj9843qkajZHF987kowerf398CWJ84XSNJC3
  business:
    time-interval-between-sessions: 30